<mat-card class="max-md:h-full">
  @let sCurr = sourceCurrency();
  @let tCurr = targetCurrency();
  @let preview = previewResult();
  <mat-card-header>
    <mat-card-subtitle>1 {{ sCurr?.name }} equals to</mat-card-subtitle>
    <mat-card-title>{{ preview }} {{ tCurr?.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="w-full" appearance="outline">
      <input
        matInput type="number" pattern="[0-9]*[.,]?[0-9]*" inputmode="numeric" [ngModel]="sourceAmount()"
        (ngModelChange)="onSourceAmountInput($event)"
        (keydown)="preventInvalidNumberInput($event)"
      />
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline">
      <input
        matInput type="number" pattern="[0-9]*[.,]?[0-9]*" inputmode="numeric" [ngModel]="targetAmount()"
        (ngModelChange)="onTargetAmountInput($event)"
        (keydown)="preventInvalidNumberInput($event)"
      />
    </mat-form-field>

    <div class="footer">
      <select matNativeControl [(ngModel)]="sourceCurrency">
        @for (currency of currencies(); track currency.short_code) {
          <option [ngValue]="currency">
            {{ currency.name }}
          </option>
        }
      </select>
      <button matIconButton color="primary" (click)="swapCurrencies()">
        <mat-icon>swap_horiz</mat-icon>
      </button>
      <select matNativeControl [(ngModel)]="targetCurrency">
        @for (currency of currencies(); track currency.short_code) {
          <option [ngValue]="currency">
            {{ currency.name }}
          </option>
        }
      </select>
    </div>
  </mat-card-content>
</mat-card>
